$shooting-star-size: 6px;
$shooting-star-glow: #FFB6C1;
$moon-glow: #ADD8E6;

@mixin star-animation($animation-name) {
    position: absolute;
    background-color: #FFF;
    animation: $animation-name linear infinite;
    border-radius: 50%;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin absolute-positioning($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

#night-sky-scene {
    @include size(100%, 100vh);
    position: absolute;
}

.diamondStar,
.star {
    @include star-animation(blinking);
}

.star {
    @include size(2px, 2px);
}

.diamondStar {
    @include size(5px, 10px);
    clip-path: path("M2.5,0 L2.5,5 L5,5 Q2.5,3.75 2.5,0 M5,5 L2.5,5 L2.5,10 Q2.5,6.25 5,5 M2.5,10 L2.5,5 L0,5 Q2.5,6.25 2.5,10 M0,5 L2.5,5 L2.5,0 Q2.5,3.75 0,5");
}

.shootingStar {
    @include star-animation(animate-shooting-star);
    @include size($shooting-star-size, $shooting-star-size);
    box-shadow: 0px 0px 20px 5px $shooting-star-glow;
    offset-path: path("M-100,-50 0,0");
    visibility: hidden;
    
    &::before {
        @include size(calc($shooting-star-size * 4), calc($shooting-star-size / 3));
        content: "";
        display: block;
        transform: translateX($shooting-star-size * -3.5) translateY(calc($shooting-star-size / 4));
        background: linear-gradient(90deg, transparent, #FFF);
    }
}

.moon-container {
    @include absolute-positioning(calc(30vw - 10rem), calc(35vh - 12rem))
}

.moon {
    @include size(200px, 200px);
    position: absolute;
    background-image: url("./full-moon.svg");
}

.moon-mask {
    @include size(170px, 170px);
    @include absolute-positioning(15px, 10px);
    border-radius: 170px;
    background-color: #FFF;
}

.moon-glow {
    @include size(170px, 170px);
    @include absolute-positioning(15px, 10px);
    border-radius: 50%;
    box-shadow: 0px 0px 40px 5px $moon-glow;
    animation: animate-moon-glow 2s linear infinite;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-shooting-star {
    0% {
        visibility: visible;
        opacity: 0;
        offset-distance: 0%;
    }
    20% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
        offset-distance: 100%;
    }
}

@keyframes animate-moon-glow {
    50% {
        opacity: 0.5;
    }
}
