@use "../../global" as *;

$sun-light: #FC9601;
$sun-dark: #DA663A;

#solar-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#sun {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-90%);
    background: linear-gradient($sun-light 90%, $sun-dark);

    &::before {
        content: "";
        display: block;
        aspect-ratio: 1;
        border-radius: inherit;
        box-shadow: 0px 0px 100px 30px #D14009;
        animation: animate-sun-glow 2s linear infinite;
    }
}

@keyframes animate-sun-glow {
    40% {
        opacity: 0.7;
    }
}

#solar-system > h1,
#solar-system > p {
    color: $light;
}
#solar-system > h1 {
    margin-top: calc(10% + 5rem);
    margin-bottom: 24px;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.planets-container {
    --grid-col: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    row-gap: 100px;
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
    padding: 48px;
}

@mixin planet($url) {
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    background-image: url($url);
    background-size: cover;
    grid-column: var(--grid-col);
    margin: 0px 24px;
    box-shadow: 0px -20px 30px #1a1a1a inset;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.1s linear;
        cursor: pointer;
    }
}

@media screen and (max-width: 700px) {
    .planets-container {
        --grid-col: 1;
        grid-template-columns: 1fr;
        row-gap: 0px;
    }

    .planet {
        scale: 0.6;
    }

    #sun {
        width: 200%;
    }
}

#mercury {
    @include size(100px, 100px);
    @include planet("./imgs/mercury.png")
}

#venus {
    @include size(200px, 200px);
    @include planet("./imgs/venus.png");
}

#earth {
    @include size(210px, 210px);
    @include planet("./imgs/earth.png");
}

#mars {
    @include size(140px, 140px);
    @include planet("./imgs/mars.png");
}

#jupiter {
    @include size(250px, 250px);
    @include planet("./imgs/jupiter.png");
}