@font-face {
    font-family: 'Nasalization';
    src: url('Nasalization-Regular.woff2') format('woff2'),
        url('Nasalization-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

