@use "../../../global" as *;

.animated-box {
    display: flex;
    width: fit-content;
    height: auto;
    position: relative;
    padding: 12px;
    color: $light;
}

@media screen and (max-width: 700px) {
    .animated-box {
        grid-column: 1;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.animated-box p {
    max-width: 66ch;
}

.animated-box .border-top,
.animated-box .border-right,
.animated-box .border-bottom,
.animated-box .border-left {
    position: absolute;
    background-color: $light;
    box-shadow: 0 0 3px $light;
}

.animated-box .border-top {
    left: 0;
    top: 0;
    height: 2px;
    width: 0%;
    transition: width 0.2s 0.6s linear;
}

.animated-box .border-bottom {
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    transition: width 0.2s 0.2s linear;
}

.animated-box .border-left {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0%;
    transition: height 0.2s linear;
}

.animated-box .border-right {
    right: 0;
    top: 0;
    width: 2px;
    height: 0%;
    transition: height 0.2s 0.4s linear;
}

.animated-box p {
    opacity: 0;
    transition: opacity 0.5s 0.8s linear;
}

.animated-box p::first-line {
    font-size: 24px;
    text-shadow: $light 0 0 2px;
    font-weight: bold;
}

.animated-box a:visited,
.animated-box a:link {
    color: $light;
    text-shadow: $light 0 0 2px;
    text-decoration: none;
    font-weight: bold;
}

.animated-box.animate {
    visibility: visible;
    width: fit-content;
    height: auto;

    .border-top,
    .border-bottom {
        width: 100%;
    }
    
    .border-right,
    .border-left {
        height: 100%;
    }

    .border-top {
        transition: width 0.2s linear;
    }

    .border-bottom {
        transition: width 0.2s 0.4s linear;
    }

    .border-right {
        transition: height 0.2s 0.2s linear;
    }

    .border-left {
        transition: height 0.2s 0.6s linear;
    }

    p {
        opacity: 1;
    }
}
