$darker: #090a0f;
$dark: #1B2735;
$light: #c9e0f9;
$lighter: #e6f0fb;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin absolute-positioning($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}
