$darker: #090a0f;
$dark: #1B2735;
$light: #b8daff;
$lighter: #e5f1ff;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin absolute-positioning($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}
