@use "global" as *;
$default-gap: 24px;
$section-gap: 48px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p, li {
    text-wrap: pretty;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

h3 {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

h2 {
    font-size: clamp(0.9rem, 2vw, 2rem);
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@mixin section-header {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: $section-gap;
}

#navbar {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 100;
    display: flex;
    color: $light;
    align-items: center;
    justify-content: center;
    padding: $default-gap;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    gap: $default-gap;
}

#navbar a,
#navbar a:link,
#navbar a:visited {
    text-decoration: none;
    color: #CFE2F8;
}

#navbar a:hover {
    text-shadow: $light 0 0 5px;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $default-gap;
    color: $light;
    height: 100vh;
    background: linear-gradient($darker, $dark);
}

#landing-page h1 {
    font-size: clamp(3rem, 7vw, 4rem);
}

#about,
#experience {
    color: $dark;
    padding: $section-gap $section-gap calc(2 * $section-gap) $section-gap;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
}

#about h1 {
    @include section-header;
    color: $lighter;
}

#about .introduction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $section-gap;
}

#about #profilePic {
    @include size(300px, 300px);
    border-radius: 50%;
}

#about p {
    max-inline-size: 40ch;
}

#experience {
    background-color: $lighter;
    display: grid;
    justify-content: center;
}

#experience h1 {
    @include section-header;
    color: $light;
    grid-column: 1 / span 2;
    justify-self: center;
}

#experience .experience-container {
    display: grid;
    row-gap: $section-gap;
    column-gap: $default-gap;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    max-width: calc(348px + 50ch);
}

#experience .desc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $default-gap;

    p:nth-child(3) {
        grid-column: 1 / span 2;
    }
}

#experience .title-container img {
    @include size(80px, 80px);
}

#experience .title-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 700px) {
    #about .introduction-container {
        flex-direction: column;
    }
}

#projects {
    background-color: $dark;
}

#footer {
    background-color: $dark;
}
