$darker: #090a0f;
$dark: #1B2735;
$light: #CFE2F8;
$default-space: 24px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    position: absolute;
    width: 100%;
    display: flex;
    color: $light;
    align-items: center;
    justify-content: space-around;
    padding: $default-space;
}

#navbar>ul {
    display: flex;
    list-style-type: none;
    gap: $default-space;
}

#navbar a,
#navbar a:link,
#navbar a:visited {
    text-decoration: none;
    color: #CFE2F8
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $default-space;
    color: $light;
    height: 100vh;
    background: linear-gradient($darker, $dark);
}

#landing-page h1 {
    font-size: 64px;
}
