@use "global" as *;
$default-gap: 24px;
$section-gap: 48px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@mixin section-header {
    font-size: clamp(1.5rem, 2vw, 3rem);
    padding: $section-gap;
}

#navbar {
    position: absolute;
    width: 100%;
    display: flex;
    color: $light;
    align-items: center;
    justify-content: space-around;
    padding: $default-gap;
}

#navbar>ul {
    display: flex;
    list-style-type: none;
    gap: $default-gap;
}

#navbar a,
#navbar a:link,
#navbar a:visited {
    text-decoration: none;
    color: #CFE2F8
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $default-gap;
    color: $light;
    height: 100vh;
    background: linear-gradient($darker, $dark);
}

#landing-page h1 {
    font-size: 64px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;

}

#about h1 {
    color: $dark;
    font-size: clamp(1.5rem, 2vw, 3rem);
    padding: $section-gap;
}

#about .introduction-container {
    display: flex;
    padding: 0px $section-gap $section-gap $section-gap;
    justify-content: space-between;
    align-items: center;
    gap: $section-gap;
}

#about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#about p {
    max-inline-size: 40ch;
}

@media screen and (max-width: 700px) {
    #about .introduction-container {
        flex-direction: column;
    }
}

#skills {
    background-color: $dark;
    text-align: center;
    padding: 0px $section-gap $section-gap $section-gap;
}

#skills h1 {
    @include section-header();
    color: $light;
}

#projects {
    background-color: $dark;
}

#solar-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
